@page "/login"
@using AvengersWeb.Repositories
@using AvengersWeb.Models
@using Task = System.Threading.Tasks.Task
@inject NavigationManager NavigationManager
<PageTitle>Login</PageTitle>

<h1>Login</h1>

<div>
    <input type="text" class="form-control" placeholder="Email" @bind="_email"/>
    <input type="password" class="form-control" placeholder="Password" @bind="_password"/>
    <button class="btn btn-primary" @onclick="LoginClick">Login</button>
</div>

@code {

    string? _email;
    string? _password;

    private async Task LoginClick()
    {
        if (!string.IsNullOrEmpty(_email) && !string.IsNullOrEmpty(_password))
        {
            UserRepository userRepository = new();
            UserHandler.User = await userRepository.Login(_email, _password);
            TaskRepository taskRepository = new();
            try
            {
                UserHandler.Tasks = await taskRepository.ReadAll((int)UserHandler.User.Id);
            }
            catch (Exception e)
            {
                if (!e.Message.Contains("No tasks found"))
                    throw;
            }
            NavigationManager.NavigateTo("/normaltasks");
        }
    }

}